
<section class="home-section">
  <!-- <nav>
    <div class="sidebar-button">
      <i class='bx bx-menu sidebarBtn'></i>
      <span class="dashboard">Category Page</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Search...">
      <i class='bx bx-search'></i>
    </div> -->

  </nav>
</section>
   
    <div class="container mt-5">
      <table id="userTable" class="table table-dark">
        <thead>
          <tr>
            <th scope="col">SNO</th>
            <th scope="col">FIRST NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">BLOCKED USER</th>
            <th scope="col">UNBLOCKED USER</th>
            <!-- <th scope="col">DELETE</th> -->
       
          </tr>
        </thead>
        <tbody>
          <% for(var i=0;i<Users.length;i++){ %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= Users[i].firstName %></td>
            <td><%= Users[i].email %></td>
            <td><input class="btn btn-primary" type="button" value="BLOCK"> </td>
            <td><input class="btn btn-warning" type="button" value="UNBLOCK"></td>
            <!-- <td><a href="/admin/adminDeleteOneUser?id=<%= Users[i]._id %>" class="btn btn-danger">DELETE</a></td> -->
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}


$(document).ready(function () {
    $('#userTable').DataTable();
});
 </script>