
<form action="/otpVerification" method="post">
    <label for="">Enter the otp</label>
    <input type="number" class="form-control"  name="otp">
    <input type="submit" value="submit" class="btn btn-success">
</form>

