<div class="signup-box">
  <h1>Sign Up</h1>
  <h4>It's free and only takes a minute</h4>
  <form action="/signupAction" method="post" onsubmit="return validation()">
    <label>First Name</label>
    <input type="text" name="firstName" id="Fname" placeholder="" />
    <span id="userFnameError"></span>

    <label>Last Name</label>
    <input type="text" name="lastName" id="Lname" placeholder="" />
    <span id="userLnameError"></span>

    <label>Email</label>
    <input type="email" name="email" id="email" placeholder="" />
    <span id="emailError"></span>

    <label>Password</label>
    <input type="password" name="password" id="pass" placeholder="" />
    <span id="userPasswordError"></span>

    <label>Confirm Password</label>
    <input type="password" id="cpass" placeholder="" />
    <span id="userCpasswordError"></span>

    <input type="submit" value="Submit" />
  </form>
  <p>
    By clicking the Sign Up button,you agree to our <br />
    <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
  </p>

  <p class="para-2">
    <span class="text-success">Already have an account?</span> <a href="/">Login here</a>
  </p>
</div>



<script>
  function validation(){
    let flag = 0;
    let firstName = document.getElementById('Fname').value.trim()
    let lastName = document.getElementById('Lname').value.trim()
    let Email = document.getElementById('email').value.trim()
    let password = document.getElementById("pass").value.trim()
    let confirmPassword = document.getElementById('cpass').value.trim()

    if (firstName =='') {
      document.getElementById('userFnameError').innerHTML = ('firstname required')
      flag = 1
    } else if (firstName.length < 3) {
      document.getElementById("userFnameError").innerHTML = ("atleast 3 character")
      flag = 1
    } else {
      document.getElementById('userFnameError').innerHTML = ''
    }

    if (lastName =='') {
      document.getElementById('userLnameError').innerHTML = ('lastName required')
      flag = 1
    } else if (lastName.length < 2) {
      document.getElementById("userLnameError").innerHTML = ("atleast 2 character")
      flag = 1
    } else {
      document.getElementById('userLnameError').innerHTML = ''
    }

    if (Email == '') {
      document.getElementById("emailError").innerHTML = ('email required')
      flag = 1
    } else {
      document.getElementById('emailError').innerHTML = ''
    }

    if (password == '') {
      document.getElementById('userPasswordError').innerHTML = ('password required')
      flag = 1
    } else if (password.length<3) {
      document.getElementById("userPasswordError").innerHTML = ("atleast 3 character")
      flag = 1
    } else {
      document.getElementById('userPasswordError').innerHTML = ''
    }

    if (confirmPassword !=password) {
      document.getElementById('userCpasswordError').innerHTML = ('incorrect password ')
      flag = 1
    }else if(confirmPassword==''){
      document.getElementById('userCpasswordError').innerHTML = (' password  required')
      flag = 1
    }

     else if (confirmPassword.length < 3) {
      document.getElementById("userCpasswordError").innerHTML = ("atleast 3 character")
      flag = 1
    } else {
      document.getElementById('userCpasswordError').innerHTML = ''
    }

    if (flag == 1) {
      return false
    }


  }

</script>