
 <div class="login-box">
    <h1>Login</h1>
    <form action="/userNewLoginAction" method="post" onsubmit="return adminLoginValidation()">
      <label>User Email</label>
      <span id="userNameError" class="text-danger fw-normal"></span>
      <input type="email"  id="name" name="userEmail"  />
      <label>Password</label>
     <input type="password" id="pass" name="password"  />
      <span id="passwordError" class="text-danger fw-normal"></span>
      <br><br>
      <input type="submit"  value="Login">
     
    </form>


  <script>
   
  </script> 

   