<div class="signup-box">
  <h1>Sign Up</h1>
  <h4>It's free and only takes a minute</h4>
  <form action="/signupAction" method="post" onsubmit="return validation()">
    <label>First Name</label>
    <input type="text" name="firstName" id="Fname" placeholder="" />
    <span id="userFnameError" class="text-danger fw-normal"></span>

    <label>Last Name</label>
    <input type="text" name="lastName" id="Lname" placeholder="" />
    <span id="userLnameError" class="text-danger fw-normal"></span>

    <label>Email</label>
    <input type="email" name="email" id="email" placeholder="" />
    <span id="emailError" class="text-danger fw-normal"></span>

    <label>Password</label>
    <input type="password" name="password" id="pass" placeholder="" />
    <span id="userPasswordError" class="text-danger fw-normal"></span>

    <label>Confirm Password</label>
    <input type="password" id="cpass" placeholder="" />
    <span id="userCpasswordError" class="text-danger fw-normal"></span>

    <input type="submit" value="Submit" />
  </form>
  <p>
    By clicking the Sign Up button,you agree to our <br />
    <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
  </p>

  <p class="para-2">
    <span class="text-success">Already have an account?</span> <a href="/">Login here</a>
  </p>
</div>



<script>
  

</script>