

<div class="container">
    <table id="Category" class="table  table-hover">
      <thead>
        <tr>
          <th scope="col">SNO</th>
          <th scope="col">PRODUCT NAME </th>
          <th scope="col">IMAGE</th>
          <th scope="col">VIEW PRODUCT</th>
        </tr>
      </thead>
      <tbody>
      
        <tr>
          <th scope="row"></th>
          <td>fsdsff</td>
          <td><a href="" class="btn btn-warning">EDIT</a></td>
          <td>>DELETE</td>
        </tr>
      </tbody>
    </table>
  </div>